{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}

{% block content %}
<!-- Start Products  -->
<div class="products-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="container w-50 p-5">
                    <h2 class="text-center">{{category.name}}</h2>
                    <p>{{category.description}}</p>
            </div>
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="row special-list">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{{ product.image.url }}" class="img-fluid" style="height: 250px; width: 100%; object-fit: contain;" alt="{{ product.name }}">                            <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="{% url 'shop:product_detail' product.id %}">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>{{ product.name }}</h4>
                        <h5>{{ product.price }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
<!-- End Products  -->

{% endblock %}

